.card {
  border: white solid;
  margin: 5px;
  padding-top: 15px;
  width: 150px;
  border-radius: 15px;
}

.card-item{
  margin-top: 5px; 

}

.card-item img{
  width: 2em;

}

.back{
  display: none;
}
  
